@charset "utf-8";
@import url(all.min.css);
@import url(reset.css);
@import url(font.css);
@import url(dep02_aside.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* 공통 */
    body {
        width: 1140px;
        margin: 0 auto;
    }
    #wrap {
        padding: 0 20px;
    }

/* 글 레이아웃 */